* {
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Merriweather', serif;
}

/* header ralated style */
.header {
  height: 100vh;
  background-image: url('./resources/Banner Image.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 16px;
  margin: 50px 10px;
  font-size: 75px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.title {
  color: #FFF;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 40px;
}

.container-title {
  color: #FFF;
  text-align: center;
  font-size: 60px;
  font-weight: 900;
}

.container {
  max-width: 500px;
  margin-bottom: 90px;
}

/* main related style */

.heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.heading,
h1 {
  margin-bottom: 30px;
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.heading,
h5 {
  color: #F00;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.heading,
h3 {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}

img {
  height: 450px;
}


/* banner section style */
.banner {
  height: 100vh;
  background-image: url(/resources/Vectorrr.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 16px;
  margin: 50px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;

}

.head
h2 {
  color: #FFF;
  font-size: 70px;
  font-weight: 900;
  margin-top: 130px;
  margin-bottom: 250px;
  padding-left: 40px;

}

.head p {
  color: #FFF;
  font-size: 15px;
  font-weight: 900;
}


/* section */
/* #body{
  height: 100vh;
  width: auto;
  fill: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
} */