* {
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Merriweather', serif;
}

/* header ralated style */
.header {
  height: 100vh;
  background-image: url('./resources/Banner Image.png');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 16px;
  margin: 50px 10px;
  font-size: 75px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.title {
  color: #FFF;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 40px;
}

.container-title {
  color: #FFF;
  text-align: center;
  font-size: 60px;
  font-weight: 900;
}

.container {
  max-width: 500px;
  /* margin-bottom: 90px; */
}

/* main related style */

.heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.heading,
h1 {
  margin-bottom: 30px;
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.heading,
h5 {
  color: #F00;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.heading,
h3 {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}

img {
  height: 450px;
}


/* banner section style */
.banner {
  height: 100vh;
  background-image: url(/resources/Vectorrr.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 16px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;

}

.banner {
  /* margin-right: 126px ;
  margin-left: ; */
  padding-left: 126px;
  padding-right: 126px;
}

.head h2 {
  color: #FFF;
  font-size: 70px;
  font-weight: 900;

}

.head p {
  color: #FFF;
  font-size: 18px;
  font-weight: 900;
  margin-top: 24px;
}

.button-primary {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  margin-top: 48px;
  padding-left: 32px;
  border: none;
}

/* section 3 related */
/* .over {
  height: 450px;
  width: 1100px;
  background-color: rgb(255, 242, 242);
  border-radius: 8px;

  margin: auto;
  padding-top: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);

}

.over h2 {
  color: black;
  padding: 8px;
}
.over span{
   color: red;
}
.over a{
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  background-color: #FF0000;
} */
/* section 4 related style */
.section4{
  height: 400px;
  width: 1020px;
  border-radius: 8px;
  display: flex;
  margin: auto;
  margin-top: 100px;
  gap: 20px;
}
.section4 h3{
 padding-top: 40px;
}
.Deserunt{
  padding: 20px;
  height: 300px;
  margin: auto;
  width: 90%;
}
.Deserunt img{
  height: 50%;
  width: 50%;
  padding-top: 20px;
}
.section4  h2{
  padding: 30px 0;
}
.Deserunt1{
  align-items: center;
  border-radius:50% ;
  padding: 10px;
  border: 8px solid red;
  height: 80%;
  width: 100%;
}
.Deserunt2 img{
  height: 60%;
  width: 60%;
}
 .b24{
  font-size: 40px;
}
/* section related style */
.section6{
  margin: auto;
  margin-top: 30px;
  height: 700px;
  width: 1000px;
  background: #FFF;
  border: 2px solid orange;
  
}
.text2{
  height: 18%;
  width: 720px;
  padding-left: 50px;
}
.text2 h3{
padding-top: 70px;
}
.div-images{
  margin: auto;
  margin-top: 2%;
  width: 95%;
  height: 78%;
  display: flex;
}
.div-images{
  margin: auto;
  margin: 8px;
  height: 320px;
  width: 350px;
  padding: 5px;
  border-radius: 8px;
}
.div-images:hover{
  transform: scale(1.1);
  transition: all 1s ease-in-out;
  filter: drop-shadow(0px 5px 5px rgb(0, 0, 0));
}
/* div last related item */
.divlast{
  height: 450px;
  width: 1200px;
  border-radius: 8px;
  margin: auto;
  padding-top: 50px ;
  text-align: center;
  margin-bottom: 50px;
  background: rgba(255, 0, 0, 0.05);

  
}
.lastimg{
  height: 150px;
  width: 80%;
  /* background-color: #FF0000; */
  margin: auto;

}
.divlast img{
  height: 100px;
  width: 100px;
}
.alpotext{
  height: 80px;
  width: 60%;
  margin: auto;
  line-height: 25px;
  
  
}
.alpotext h2{
  padding: 10px 0;
}
.alpotext p{
  line-height: 300px;
}
.scarchbox{
  overflow: hidden;
  margin: auto;
  
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 65px;
  width: 800px;
  
  border-radius: 80px;
}
input{
  border: none;
  
  padding: 25px;
  width: 70%;
  border-radius: 10px;
}
button{
  
  height: 65px;
  
  width: 250px;
  border-radius: 0px 50px 50px 0px;
  border: none;
  background-color: #FF0000;
  border: 20px solid #FF0000;
  
}
/* <!-- div last div 9 --> */
.div9{
  color: white;
min-height: 400px;
min-width: 1350px;
background: #000000;
margin: auto;
display: flex;
flex-wrap: wrap;

}
.address{
  
  margin: auto;
  
  padding: 10px;
  text-align: center;
  /* background-color: aqua; */
  height: 50px;
  width: 500px;
}
.info{
  margin: auto;
 
  padding: 10px;
  text-align: center;
  /* background-color: aqua; */
  height: 50px;
  width: 500px;
}
.info h4 i{
  padding-right: 5px;
}
.mindiv{
  margin: auto;
  
  padding: 20px;
  text-align: center;
  /* background-color: aqua; */
  height: 60px;
  width: 1000px;
}
.mindiv img{
  margin: auto;
  height: 30px;
  height: 50px;
}
p{
  color: rgba(7, 2, 17, 0.60);
}